<p class="show">
  <strong>Title:</strong> <%= @book.title %>
</p>

<p class="show">
  <strong>Body:</strong> <%= @book.body %>
</p>

<%#
<%= link_to "Edit", edit_book_path(book.id), class:"cursor" %>
<%#
<%= link_to "Back", book_path(book.id), class:"cursor" %>
